@page "/player"
@inject PlayerService PlayerService

<div class="content">

	<div class="tab-content">
		<div class="player-status">@playStatus</div>
		<div>@playingSongName</div>
	</div>

	<form>
		<div class="actions">
			<button class="general-button" type="button" @onclick="OnClickPrev">&#9665;&#9665;　前の曲</button>
			<button class="default-button" type="button" @onclick="OnClickPlayOrPause">&#9654;　再生／一時停止</button>
			<button class="general-button" type="button" @onclick="OnClickNext">&#9655;&#9655;　次の曲</button>
		</div>
	</form>

	<div class="error-message">@playResult</div>

</div>

@code {

	// ====================================================================
	// protected 関数
	// ====================================================================

	// --------------------------------------------------------------------
	// 初期化が完了した
	// --------------------------------------------------------------------
	protected override async Task OnInitializedAsync()
	{
		try
		{
			await UpdateStatusAsync();
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

	// ====================================================================
	// private 変数
	// ====================================================================

	// 再生中（または一時停止中）の曲
	private RequestSong? playingSong;

	// 再生中（または一時停止中）の曲名
	private String? playingSongName;

	// 再生状態（停止～再生）
	private String? playStatus;

	// 再生操作結果メッセージ
	private String? playResult;

	// ====================================================================
	// private 関数
	// ====================================================================

	// --------------------------------------------------------------------
	// 次の曲ボタンクリック
	// --------------------------------------------------------------------
	private async void OnClickNext()
	{
		try
		{
			String message = await PlayerService.NextAsync();
			playResult = message;
			if (String.IsNullOrEmpty(message))
			{
				await UpdateStatusAsync();
			}
			StateHasChanged();
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

	// --------------------------------------------------------------------
	// 再生／一時停止ボタンクリック
	// --------------------------------------------------------------------
	private async void OnClickPlayOrPause()
	{
		try
		{
			String message = await PlayerService.PlayOrPauseAsync();
			playResult = message;
			if (String.IsNullOrEmpty(message))
			{
				await UpdateStatusAsync();
			}
			StateHasChanged();
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

	// --------------------------------------------------------------------
	// 前の曲ボタンクリック
	// --------------------------------------------------------------------
	private async void OnClickPrev()
	{
		try
		{
			String message = await PlayerService.PrevAsync();
			playResult = message;
			if (String.IsNullOrEmpty(message))
			{
				await UpdateStatusAsync();
			}
			StateHasChanged();
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

	// --------------------------------------------------------------------
	// 再生情報を更新
	// --------------------------------------------------------------------
	private async Task UpdateStatusAsync()
	{
		playingSong = await PlayerService.GetPlayingSongAsync();
		if (playingSong == null)
		{
			return;
		}
		switch (playingSong.PlayStatus)
		{
			case PlayStatus.Playing:
				playStatus = "再生中";
				playingSongName = playingSong.SongName;
				break;
			case PlayStatus.Pause:
				playStatus = "一時停止中";
				playingSongName = playingSong.SongName;
				break;
			default:
				playStatus = "停止中";
				break;
		}
	}



}
