@page "/searchform"
@inject NavigationManager NavigationManager

<h3>キーワード検索</h3>

<div class="searchform">
	<EditForm Model="word" OnValidSubmit="OnOK">

		<DataAnnotationsValidator />

		<div class="tabs">
			<InputRadioGroup Name="tab-item" @bind-Value="word.Type">
				<InputRadio id="any-word" Value="SearchWordType.AnyWord" />
				<label class="tab-item" for="any-word">なんでも検索</label>
				<InputRadio id="detail" Value="SearchWordType.Detail" />
				<label class="tab-item" for="detail">詳細検索</label>
			</InputRadioGroup>

			<div class="tab-content" id="any-word-content">
				<div class="name">
					<span class="caption">キーワード</span>
					<span class="input-field">
						<input type="text" @bind="word.AnyWord" />
					</span>
				</div>
			</div>

			<div class="tab-content" id="detail-content">
				<div class="name">
					<span class="caption">曲名</span>
					<span class="input-field">
						<input type="text" @bind="word.SongName" />
					</span>
				</div>

				<div class="name">
					<span class="caption">タイアップ名</span>
					<span class="input-field">
						<input type="text" @bind="word.TieUpName" />
					</span>
				</div>
			</div>
		</div>

		<div class="error-message">
			<ValidationSummary></ValidationSummary>
		</div>
		<div class="actions">
			<button class="button">OK</button>
		</div>
	</EditForm>
</div>

@code {
	private SearchWord word = new SearchWord();

	private void OnOK()
	{
		NavigationManager.NavigateTo($"/searchresult/{word}");
	}

}
