/*
    変数宣言
*/

:root {
    --primary-bg-color: #ff9800;
    --light-bg-color: #ffc947;
    --invalid-bg-color: #ebebeb;
    --border-color: #acacac;
    --shadow-color: #999999;
}

/*
    砂時計
*/

.loading {
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    color: #8888aa;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

    .loading::after {
        content: '';
        border: solid 10px;
        border-color: #8888aa #eeeeee #eeeeee;
        border-radius: 60px;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: rotation 1.5s linear 0s infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

/*
    Blazor エラー
*/

#blazor-error-ui {
    background-color: #ffffe0;
    bottom: 0;
    box-shadow: 0 -1px 2px var(--shadow-color);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    right: 0;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: .75rem;
        top: .5rem;
    }

/*
    全体
*/

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: #222222;
    margin: 0px 0px 10px 0px;
    font-size: 1.2rem;
    height: 3rem;
}

.header-item {
}

header a {
    margin-left: 20px;
    padding: 7px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

    header a:hover {
        background-color: #555555;
    }

    header a.active {
        background-color: #eeeeee;
        color: black;
    }

h1 {
    background-color: #E0001A;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}

img {
    vertical-align: top;
}

.content {
    margin: 20px 10px;
}

.supplement {
    font-size: 0.9rem;
    color: #999999;
}

/*
    タブ
*/

.tab-header {
    display: flex;
    margin-top: 20px;
    border-bottom: 4px solid #4597F5;
}

.tab-item-active, .tab-item {
    flex-grow: 1;
    margin: 0px 5px 0px 0px;
    max-width: 200px;
    height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.tab-item-active {
    background-color: #4597F5;
}

.tab-item {
    background-color: #999999;
    transition: all 0.2s ease;
}

    .tab-item:hover {
        opacity: 0.75;
    }

.tab-item-link {
    display: block;
    color: white;
    text-decoration: none;
}

.tab-content {
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 10px;
}

/* 
    入力
*/

.input-table {
    width: 100%;
}

.input-td {
    padding: 5px 10px 5px 0px;
}

    .input-td:first-child {
        width: 1px;
        white-space: nowrap;
        text-align: right;
    }

.input-general {
    width: 100%;
    padding: 5px;
    border: none;
    outline: 1px solid var(--border-color);
    font-size: 1.2rem;
}

    .input-general::placeholder {
        color: #999999;
        font-size: 0.9rem;
    }

    .input-general:focus {
        outline: 2px solid var(--primary-bg-color);
    }

        .input-general:focus::placeholder {
            visibility: hidden;
        }

.actions {
    margin: 20px 0px 0px 0px;
}

.default-button {
    background-color: var(--primary-bg-color);
}

.general-button {
    background-color: var(--light-bg-color);
}

.default-button, .general-button {
    border-radius: 4px;
    border-width: 0px;
    outline: none;
    font-size: 1rem;
    padding: 5px 20px 5px 20px;
    min-width: 120px;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: all 0.2s ease;
}

    .default-button:hover, .general-button:hover {
        opacity: 0.75;
    }

.error-message {
    color: red;
}

/*
    予約一覧
*/

.req-list-table {
    margin: 10px 0px 0px 0px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 10px var(--shadow-color);
}

.req-list-tr-unplayed {
    background-color: #edf8e0;
}

    .req-list-tr-unplayed:nth-child(even) {
        background-color: white;
    }

.req-list-tr-playing, .req-list-tr-pause {
    background-color: var(--light-bg-color);
}

.req-list-tr-played {
    background-color: #BBBBBB;
}

.req-list-th {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: #9bd060;
    border: 1px solid #60a030;
}

.req-list-td {
    padding: 0.5rem;
    border: 1px solid #60a030;
}

.req-list-no {
    text-align: right;
}

.play-icon {
    font-weight: bold;
    color: var(--primary-bg-color);
    margin-right: 5px;
}

.req-list-thumb {
    text-align: center;
}

.req-list-song {
    font-weight: bold;
}

.req-list-misc {
    color: #999999;
}

.req-list-path {
    font-size: 0.8rem;
    color: #999999;
}

/*
    検索結果
*/

.condition-name {
    color: #999999;
}

.condition-value {
    font-size: 1.2rem;
    font-weight: bold;
}

.search-result-table {
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

.search-result-song {
    font-weight: bold;
    color: #cc6600;
    text-decoration: underline;
    cursor: pointer;
}

/*
    Player
*/

.player-status {
    font-size: 1.2rem;
    font-weight: bold;
}
