/*
    変数宣言
*/

:root {
    --primary-bg-color: #ff9800;
    --light-bg-color: #ffc947;
    --invalid-bg-color: #ebebeb;
    --border-color: #acacac;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

/*
    砂時計
*/

.loading {
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    color: #8888aa;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

    .loading::after {
        content: '';
        border: solid 10px;
        border-color: #8888aa #eeeeee #eeeeee;
        border-radius: 60px;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: rotation 1.5s linear 0s infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

/*
    Blazor エラー
*/

#blazor-error-ui {
    background: #ffffe0;
    bottom: 0;
    box-shadow: 0 -1px 2px var(--shadow-color);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    right: 0;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: .75rem;
        top: .5rem;
    }

/*
    全体
*/

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background: #222222;
    margin: 0px 0px 10px 0px;
    font-size: 1.2rem;
    height: 3rem;
}

.header-item {
}

header a {
    margin-left: 20px;
    padding: 7px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

    header a:hover {
        background: #555555;
    }

    header a.active {
        background: #eeeeee;
        color: black;
    }

/*
    予約一覧
*/

.req-list-table {
    margin: 0px 10px 0px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 10px var(--shadow-color);
}

.req-list-tr {
    background: #edf8e0;
}

    .req-list-tr:nth-child(even) {
        background: white;
    }

.req-list-th {
    padding: 1rem;
    background: #9bd060;
    border: 1px solid #60a030;
}

.req-list-td {
    padding: 1rem;
    border: 1px solid #60a030;
}

/*
    タブ
*/
.tabs {
    margin: 50px 20px 0 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.tab-item {
    width: calc(100%/3);
    max-width: 200px;
    height: 40px;
    margin-top: -40px;
    margin-right: -2px;
    border: 2px solid var(--border-color);
    background-color: var(--invalid-bg-color);
    font-size: 120%;
    text-align: center;
    display: block;
    float: left;
    vertical-align: middle;
    transition: all 0.2s ease;
}

    .tab-item:hover {
        opacity: 0.75;
    }

input[name="tab-item"] {
    display: none;
}

.tabs input:checked + .tab-item {
    height: 44px;
    margin-top: -44px;
    border-bottom: none;
    background-color: white;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}

#any-word:checked ~ #any-word-content,
#detail:checked ~ #detail-content {
    display: block;
}
