@inherits LayoutComponentBase

<header>
	<div class="header-item"><NavLink ActiveClass="active" href="/" Match="NavLinkMatch.All">予約一覧</NavLink></div>
	<div class="header-item"><NavLink href="searchform">検索</NavLink></div>
</header>

@Body

