@inherits LayoutComponentBase

<header>
	<div class="header-item"><NavLink ActiveClass="active" href="/" Match="NavLinkMatch.All">予約一覧</NavLink></div>
	<div class="header-item"><NavLink href="searchform">検索</NavLink></div>
	<div class="header-item"><NavLink href="player">Player</NavLink></div>
	<div class="header-item"><NavLink href="admin">管理</NavLink></div>
	<div class="header-item"><NavLink href="registerform">登録</NavLink></div>
	<div class="header-item"><NavLink href="loginform">ログイン</NavLink></div>
	<div class="header-item"><NavLink href="mypage">マイページ</NavLink></div>
</header>

@Body

